<footer>
    <div class="footer-list">
      <div class="footer-logo">
        <img src="/static/images/logo-footer.png" alt="Logo Project PPL">
      </div>
      <div class="footer-menu">
        <h3>Explore</h3>
        <ul>
          <li><a href="/ide-penelitian">Ide Penelitian</a></li>
          <li><a href="/dosen">Profile Dosen</a></li>
          <li><a href="/penelitian">Penelitian Dosen</a></li>
        </ul>
      </div>
      <div class="footer-menu">
        <h3>About</h3>
        <ul>
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </footer>
  