{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Dosen</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/dosen.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  </head>

  <body>
    <!-- Menyertakan Navbar -->
    {% include 'navbar.html' %}

    <div class="banner">
      <h1 class="judul">Daftar Dosen Prodi Sistem Informasi</h1>
    </div>

    <section class="content">
      <div class="search-bar">
        <form method="get" action="{% url 'dosen' %}">
          <input type="text" name="q" placeholder="Cari Dosen" value="{{ query }}" />
          <button type="submit">Cari</button>
        </form>
      </div>

      <div class="profile-list">
        <!-- Profile Cards -->
        {% for dosen in page_obj %}
        <div class="profile-card">
          <div class="profile-image">
            {% if dosen.FotoDosen %}
            <img src="{{ dosen.FotoDosen.url }}" alt="Profile Picture" />
            {% endif %}
          </div>
          <div class="profile-info">
            <h3>{{ dosen.NamaDosen }}</h3>
            <p>{{ dosen.NIDNDosen }}</p>
            <p>{{ dosen.EmailAkun }}</p>
          </div>
          <div class="profile-action">
            <a href="{% url 'detail-dosen' dosen.id %}">Lihat Profile &rarr;</a>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Pagination Controls -->
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?q={{ query }}&page=1">&laquo; Awal</a>
          <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">Sebelumnya</a>
          {% endif %}

          {% if page_obj.has_next %}
          <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">Berikutnya</a>
          <a href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}">Akhir &raquo;</a>
          {% endif %}
        </span>
      </div>
    </section>

    <!-- Menyertakan Footer -->
    {% include 'footer.html' %}
  </body>
</html>
