body {
  font-family: "Poppins", sans-serif;
}

.banner {
  display: flex;
  justify-content: center; /* Centers the text horizontally */
  align-items: center; /* Centers the text vertically */
  background-image: url("/static/css/images/bg-fst.jpg"); /* Corrected path to the image */
  background-size: cover; /* Makes sure the image covers the entire banner */
  background-position: center; /* Centers the background image */
  height: 150px; /* Adjust the height to display the background image */
  color: rgb(255, 255, 255); /* Ensures text is readable over the image */
}

.judul {
  font-size: 40px;
  text-align: center;
  z-index: 1;
}

.content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.search-bar {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #04458a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #007bff;
}

.profile-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profile-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.profile-image img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.profile-info {
  flex-grow: 1;
}

.profile-info h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-info p {
  font-size: 14px;
  color: #666;
}

.profile-action a {
  text-decoration: none;
  color: #04458a;
  font-weight: bold;
  font-size: 1rem;
}

.profile-action button:hover {
  background-color: #007bff;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a,
.pagination strong {
  margin: 0 5px;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination strong {
  background-color: #333;
  color: white;
}
