body {
    font-family: 'Poppins', sans-serif;
}

.content-list {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: center; /* Centers the text horizontally */
    align-items: center;     /* Centers the text vertically */
    background-image: url('/static/css/images/bg-fst.jpg'); /* Corrected path to the image */
    background-size: cover;  /* Makes sure the image covers the entire banner */
    background-position: center; /* Centers the background image */
    height: 150px;           /* Adjust the height to display the background image */
    color: rgb(255, 255, 255);            /* Ensures text is readable over the image */
}

.judul {
    font-size: 40px;
    text-align: center;
    z-index: 1;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid #000;
    margin-right: 10px;
    width: 200px;
}

.filter-buttons {
    display: flex;
    gap: 10px;
}

.filter-btn {
    padding: 10px 15px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-btn i {
    font-size: 16px;
}

.filter-btn i.fa-chevron-down {
    font-size: 10px; 
    margin-left: 3px; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; /* Awalnya tersembunyi */
    position: absolute;
    max-height: 200px; /* Tinggi maksimal dropdown */
    overflow-y: scroll; /* Scroll jika tinggi melebihi max-height */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 250px; /* Lebar dropdown */
}

.dropdown-content::-webkit-scrollbar {
    width: 8px;
}

.dropdown-content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block; /* Tampilkan dropdown saat di-hover */
}


.custom-range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 18px;
    text-align: center;
    color: #000;
    font-weight: 100;
    margin-bottom: 5px;
}

.footer-menu h3 {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.range-inputs {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.range-inputs input {
    width: 80px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.search-btn {
    padding: 8px 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 60px;
    transition: font-weight 0.2s ease;
}

.search-btn:hover {
    font-weight: bold;
}


span {
    margin: 0 5px;
}

.article-container {
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.article-title {
    font-size: 18px;
    font-weight: bold;
    color: #0056b3;
    margin-bottom: 10px;
}

.article-title a {
    text-decoration: none;
    color: #0056b3;
}

.article-title a:hover {
    text-decoration: underline;
}

.authors {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.publication-details {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}

.open-access {
    color: #d9534f;
    font-size: 12px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.tag {
    background-color: #e7f3ff;
    border: 1px solid #0056b3;
    color: #0056b3;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

footer {
    background-color: #04458a;
    padding: 20px;
    margin-top: 100px;
    color: white;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
}

.footer-logo img {
    width: 300px !important;
    height: 180px !important;
}

.footer-menu {
    text-align: center;
}

.footer-menu h3 {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-menu li {
    margin-top: 10px;
    font-size: 18px;
}

.footer-menu a {
    text-decoration: none;
    color: #ffffff;
}

.footer-menu a:hover {
    color: #ffffff5a;
}