body {
  font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between; /* Atur jarak antara elemen */
    align-items: center;
    padding: 0 20px;
    position: relative;
    border-bottom: 1px solid #00000050;
}

.logo img {
    width: 210px !important;
    height: 90px !important;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Memindahkan separuh dari lebarnya untuk pusat */
}

.nav-menu li {
  display: inline;
}

.nav-menu a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    padding: 10px;
}

.nav-menu a:hover {
    color: #000000;
    background-color: #fcf352b8;
    border-radius: 5px;
}

.login img {
    width: 30px;
    height: 30px;
}

.content{
    text-align: justify;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 400px;
    padding-right: 400px;
    color: #00000050;
}

.content .judul {
  font-size: 60px; /* Sesuaikan ukuran teks */
  background: linear-gradient(270deg, #04458a, #ffe922); /* Gradient warna */
  -webkit-background-clip: text; /* Untuk WebKit-based browsers */
  -webkit-text-fill-color: transparent; /* Membuat teks transparan agar gradient terlihat */
}

/* Gaya untuk ikon jam di luar search bar */
.search-bar .fa-clock {
  font-size: 30px;
  color: #00000050;
  margin-right: 25px; /* Spasi antara ikon dan search bar */
  margin-top: 10px;
  align-self: center;
}

.icon-link {
  text-decoration: none; /* Hilangkan garis bawah */
  cursor: pointer; /* Ubah kursor menjadi pointer */
}

.icon-link i {
  font-size: 24px;
  color: #00000050;
}

.icon-link:hover i {
  color: #000; /* Ubah warna saat dihover */
}

/* Gaya untuk input container */
.input-container {
  position: relative;
  width: 1000px;
}

/* Gaya untuk ikon search di dalam search bar */
.input-container .fa-search {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #00000050;
}

/* Gaya untuk search bar */
.search {
    padding-top: 70px; /* Spasi antara teks dan search bar */
    padding-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center; /* Posisikan di tengah */
  padding-right: 150px;
}

.search-bar input {
  width: 1100px; /* Lebar input */
  padding: 10px;
  padding-left: 50px;
  border: 2px solid #00000050; /* Border dengan warna */
  border-radius: 30px; /* Sudut yang melengkung */
  font-size: 20px;
}

.search-bar input:focus {
  outline: none; /* Hilangkan outline default saat input aktif */
  border-color: #000000; /* Ubah warna border saat focus */
}

footer {
  background-color: #04458a;
  padding: 20px;
  margin-top: 100px;
  color: white;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;
}

.footer-logo img {
    width: 300px !important;
    height: 180px !important;
}

.footer-menu {
    text-align: center;
}

.footer-menu h3 {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-menu li {
    margin-top: 10px;
    font-size: 18px;
}

.footer-menu a {
  text-decoration: none;
  color: #ffffff;
}

.footer-menu a:hover {
    color: #ffffff5a;
}
