{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Penelitian Dosen</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/penelitiandosen.css' %}" />
  <link rel="stylesheet" href="/static/css/footer.css" />
  <link rel="stylesheet" href="/static/css/navbar.css" />
</head>

<body>
  <!-- Menyertakan Navbar -->
  {% include 'navbar.html' %}

  <div class="content">
    <h1 class="judul">Publikasi Dosen Prodi Sistem Informasi</h1>
  </div>

  <div class="content-list">
    <form method="get" action="{% url 'penelitian' %}">
      <div class="search-container">
        <input type="text" name="search" placeholder="Input Judul Publikasi..." class="search-input"
          value="{{ request.GET.search }}" />
      </div>
    </form>
    <div class="filter-buttons">
      <div class="dropdown">
        <button class="filter-btn">
          <i class="fa fa-clock"></i>
          Tahun:
          {% if tahun_filter %}
          {{ tahun_filter }}
          {% elif tahun_start or tahun_end %}
          {{ tahun_start|default:"-" }} - {{ tahun_end|default:"-" }}
          {% else %}
          Semua
          {% endif %}
          <i class="fa fa-chevron-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="?tahun=2024" class="{% if tahun_filter == '2024' %}active{% endif %}">2024</a>
          <a href="?tahun=2023" class="{% if tahun_filter == '2023' %}active{% endif %}">2023</a>
          <a href="?tahun=2022" class="{% if tahun_filter == '2022' %}active{% endif %}">2022</a>
          <div class="custom-range-container">
            <h3>Custom range</h3>
            <form method="GET" action=".">
              <div class="range-inputs">
                <input type="number" name="tahun_start" placeholder="Start Year" class="range-start"
                  value="{{ tahun_start|default:'' }}" />
                <span>-</span>
                <input type="number" name="tahun_end" placeholder="End Year" class="range-end"
                  value="{{ tahun_end|default:'' }}" />
              </div>
              <button class="search-btn" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <button class="filter-btn">
          <i class="fa fa-book"></i>
          {% if selected_bidang %}
          {{ selected_bidang }}
          {% else %}
          Bidang
          {% endif %}
          <i class="fa fa-chevron-down"></i>
        </button>
        <div class="dropdown-content">
          {% for bidang in subject_area_list %}
          <a href="?bidang={{ bidang }}">{{ bidang }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="dropdown">
        <button class="filter-btn">
          <i class="fa fa-user"></i>
          {% if selected_dosen %}
          {{ selected_dosen }}
          {% else %}
          Dosen
          {% endif %}
          <i class="fa fa-chevron-down"></i>
        </button>
        <div class="dropdown-content">
          {% for dosen in dosen_list %}
          <a class="dropdown-item {% if dosen_filter == dosen.NamaDosen %}active{% endif %}"
            href="?dosen={{ dosen.NamaDosen }}">
            {{ dosen.NamaDosen }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <!-- mysite/Penelitian/templates/penelitian.html -->
  <div class="article-container">
    {% for item in penelitian %}
    <div class="article-title">
      <a href="#">{{ item.judul }}</a>
    </div>

    <div class="abstract">{{ item.abstract|truncatewords:50 }}</div>

    <div class="authors">{{ item.tanggal_publikasi }}</div>

    <div class="publication-details">{{ item.sumber }}</div>
    {% endfor %}
  </div>

  <div class="pagination">
    <span class="step-links">
      {% if penelitian.has_previous %}
      <a href="?page=1&{{ query_string }}">&laquo; First</a>
      <a href="?page={{ penelitian.previous_page_number }}&{{ query_string }}">Previous</a>
      {% endif %}

      <span class="current"> Page {{ penelitian.number }} of {{ penelitian.paginator.num_pages }} </span>

      {% if penelitian.has_next %}
      <a href="?page={{ penelitian.next_page_number }}&{{ query_string }}">Next</a>
      <a href="?page={{ penelitian.paginator.num_pages }}&{{ query_string }}">Last &raquo;</a>
      {% endif %}
    </span>
  </div>
  </div>

  {% include 'footer.html' %}
</body>

</html>